<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XM_iphone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F983A5341D07F98100C87550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F983A5501D07F98100C87550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F983A55B1D07F98100C87550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
